/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --background: #F8FAFC;
  --foreground: #171717;
  --font-clash: 'Clash Display', sans-serif;
}

.dark {
  --background: #0a0a0a;
  --foreground: #F8FAFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font---font-archivo), sans-serif;
 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-clash), sans-serif;
  text-transform: uppercase;
  /* letter-spacing: 0.05em; */
}

/* Optional Tailwind Base Enhancements */
html {
  transition: background-color 0.3s, color 0.3s;
}

/* Ensure that dark mode transitions smoothly */
html[data-theme='dark'] {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Scoped Styles for Offerings Component */
.offerings-section .menu {
  color: transparent;
  -webkit-text-stroke: 1px black;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offerings-section .container {
  position: relative;
  height: auto; /* Adjust height to fit content */
  overflow: hidden;
  outline: 1px transparent;
}

.offerings-section ul {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  white-space: nowrap;
}

.offerings-section .menu-mask {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
}

.offerings-section .menu li {
  display: block;
  position: relative;
  padding: 20px 0;
  transition: color 0.3s;
}

.offerings-section .menu li:hover {
  color: var(--foreground);
  transition: color 0.3s;
}

.offerings-section .menu-mask li {
  display: block;
  position: relative;
  padding: 20px 0;
  color: var(--background);
  -webkit-text-stroke: 0;
  transition: color 0.3s;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }
}
.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

/* Updated AWaves styles */
.a-waves {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background);
}
.a-waves canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.a-waves::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--foreground);
  border-radius: 50%;
  transform: translate3d(var(--x, -0.5rem) - 50%, var(--y, 50%) - 50%, 0);
  will-change: transform;
}
.rotated-svg {
  fill: var(--foreground);
  stroke: var(--foreground);
}


.space {
  display: inline-block;
  width: 0.5em; /* Adjust this width as needed */
}


/* ------- Osmo [https://osmo.supply/] ------- */
/* Osmo UI: https://slater.app/10324/23333.css */

body {
  background-color: var(--color-black);
  color: var(--color-light);
  font-size: var(--size-font);
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  font-size: 1.1vw;
}

.overlay {
  z-index: 2;
  background-image: linear-gradient(90deg, var(--color-neutral-900) 85%, #0000);
  justify-content: flex-start;
  align-items: center;
  width: 37.5em;
  height: 100%;
  padding-left: 2em;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.overlay-inner {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 28.125em;
  display: flex;
}

.overlay-count-row {
  grid-column-gap: .2em;
  grid-row-gap: .2em;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-family: PP Neue Corp, Impact, sans-serif;
  font-size: 5.625em;
  font-weight: 700;
  display: flex;
}

.count-column {
  height: 1em;
  overflow: hidden;
}

.count-heading {
  width: 2ch;
  font-size: 1em;
  line-height: 1;
  margin: 0px;
}

.count-row-divider {
  background-color: var(--color-light);
  width: 2px;
  height: .75em;
  transform: rotate(15deg);
}

.overlay-nav-row {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  display: flex;
}

.button {
  background-color: #0000;
  color: #fff;
  border: 1px solid #fff3;
  border-radius: .4em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  padding: 0;
  display: flex;
  position: relative;
}

.button-arrow {
  flex: none;
  width: 1em;
  height: .75em;
}

.button-arrow.next {
  transform: rotate(180deg);
}

.button-overlay {
  z-index: 2;
  position: absolute;
  inset: -1px;
}

.overlay-corner {
  border-top: 1px solid var(--color-light);
  border-left: 1px solid var(--color-light);
  border-top-left-radius: .4em;
  width: 1em;
  height: 1em;
}

.overlay-corner.top-right {
  position: absolute;
  inset: 0% 0% auto auto;
  transform: rotate(90deg);
}

.overlay-corner.bottom-left {
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.overlay-corner.bottom-right {
  position: absolute;
  inset: auto 0% 0% auto;
  transform: rotate(180deg);
}

.button, .button-overlay{ transition: transform 0.475s var(--cubic-default), opacity 0.475s var(--cubic-default)}

.button:hover .button-overlay{ transform: scale(1.4); }
.overlay-nav-row:hover:has(.button:hover) .button{ opacity: 0.4; }
.button:hover{ transform: scale(0.85); opacity: 1 !important; }

.main {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.slider-wrap {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-list {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.slider-slide {
  flex: none;
  width: 42.5em;
  height: 28em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  transition: opacity .4s;
  position: relative;
}

[data-slider="slide"]{ opacity: 0.2; }
[data-slider="slide"].active { opacity: 1; } 
[data-slider="slide"].active .slide-caption{ transition-delay:0.3s;} 

.slide-inner {
  border-radius: .5em;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

img{
  width:100%;
  height:100;
  object-fit: cover;
}

.slide-caption {
  z-index: 2;
  grid-column-gap: .4em;
  grid-row-gap: .4em;
  background-color: var(--color-light);
  color: var(--color-dark);
  white-space: nowrap;
  border-radius: .25em;
  justify-content: flex-start;
  align-items: center;
  padding: .4em .75em .4em .5em;
  display: flex;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  overflow: hidden;
}

.caption-dot {
  background-color: var(--color-dark);
  border-radius: 10em;
  flex: none;
  width: .5em;
  height: .5em;
}

.caption {
  font-size: .75em;
  font-family: arial;
  margin: 0px;
}

.slide-caption{ transition: transform 0.525s var(--cubic-default), opacity 0.525s var(--cubic-default); transition-delay:0s; }

html:not(.wf-design-mode) .slide-caption{ opacity: 0; transform:translate(-25%, 0px) }
html:not(.wf-design-mode) [data-slider="slide"].active .slide-caption{ opacity: 1; transform:translate(0%, 0px) }


