@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #F8FAFC;
}

body {
  color: var(--foreground);
  background: var (--background);
  font-family: var(--font-teco), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-anton), sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Optional Tailwind Base Enhancements */
html {
  transition: background-color 0.3s, color 0.3s;
}

/* Ensure that dark mode transitions smoothly */
html[data-theme='dark'] {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Scoped Styles for Offerings Component */
.offerings-section .menu {
  color: transparent;
  -webkit-text-stroke: 1px black;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offerings-section .container {
  position: relative;
  height: auto; /* Adjust height to fit content */
  overflow: hidden;
  outline: 1px transparent;
}

.offerings-section ul {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  white-space: nowrap;
}

.offerings-section .menu-mask {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
}

.offerings-section .menu li {
  display: block;
  position: relative;
  padding: 20px 0;
  transition: color 0.3s;
}

.offerings-section .menu li:hover {
  color: var(--foreground);
  transition: color 0.3s;
}

.offerings-section .menu-mask li {
  display: block;
  position: relative;
  padding: 20px 0;
  color: var(--background);
  -webkit-text-stroke: 0;
  transition: color 0.3s;
}
@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }
}
.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

