@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #F8FAFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-anton), sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Optional Tailwind Base Enhancements */
html {
  transition: background-color 0.3s, color 0.3s;
}

/* Ensure that dark mode transitions smoothly */
html[data-theme='dark'] {
  transition: background-color 0.3s ease, color 0.3s ease;
}

